body{
    background-image: url("bilder/farge_bakgrunn.jpg");
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

h1{
    color: #E8E5DA;
    padding: 20px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    padding: 20px;
}

main > div{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 450px;
    border: 2px solid white;
    width: 100%;
	vertical-align: top;
	display: inline-block;
}

.forside{
    height: 100vh;
    background-size: cover; 
    position: relative;
}

.text{
    background-color: rgba(0, 0, 0, 0.8);
	color: white;
	border: 3px solid;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	width: 60%;
	padding: 100px;
	text-align: center;
}

/* #farger{
    height: 100vh;
} */

#farger > div{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 350px;
    border: 2px solid white;
	width: 80%;
	vertical-align: top;
	display: block;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 400px; 
}

p {
    line-height: 30px;
    font-size: 17px;
}

table{
    border-radius: 100px;
    border-collapse: collapse;
    margin: auto;
}

th, td{
    padding: 15px;
    border: 2px solid white;
}

.fyll{
    background-color: rgba(230, 187, 15, 0.937);
}

.tilbake {
    position: absolute;
    top: 10px;
    left: 21px;
    width: 180px;
}

.tilbake_div {
    background-color: rgba(0, 0, 0, 0.8);
    height: 85px;
    width: 94px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 16px;
}

@media (max-width:600px) {
    body {
        display: grid;
        align-items: center;
    }

    body > div {
        width: 90%;
    }
}