
body{
    background-image: url("bilder/farge_bakgrunn.jpg");
}

main {
    gap: 7px;
    padding: 20px;
    display: flex;
}

main > div{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    width: 100%;
	vertical-align: top;
	display: inline-block;
}

.forside{
    min-height: 100vh;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.midtside{
    min-height: 100vh;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.text{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 3px solid;
    border-radius: 20px;
    width: 60%;
    text-align: center;
}

#farger > div{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
	width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

p {
    line-height: 30px;
    font-size: 17px;
}

table{
    border-radius: 100px;
    border-collapse: collapse;
    margin: auto;
}

th, td{
    padding: 15px;
    border: 2px solid white;
}

.fyll{
    background-color: rgb(169, 36, 36);
}

@media  (width<600px) {
    main{
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    main > div{
        width: 100%;
    }

    .text{
        width: 90%;
        line-height: 1.5;
    }

    #farger > div{
        width: 90%;
        margin-top: 20px;
        margin: 20px;
    }

    table{
        width: 100%;
        font-size: 14px;
    }

    th, td {
        padding: 10px; 
        font-size: 14px; 
    }

    h1{
        font-size: 1.5rem;
    }
}
