@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image:url(bilder/piksler2.png) ;
    font-family: "Noto Sans", sans-serif;

}

h1 {
    text-align: center;
    color: white;
    font-family: "Dancing Script", serif;
    font-size: 40px;

}

h2 {
    text-align: center;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header > div {
    border: 3px solid white;
    padding: 100px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.75);
}

main {
    padding: 20px;
}

section {
    min-height: 300px;
    max-width: 1100px;
    background-color: rgba(0, 0, 0, 0.75);
    border: white solid 2px;
    border-radius: 15px;
    margin: 50px auto;
    overflow: hidden;
    color: white;
}

section > h2 {
    background-color: rgba(0, 0, 0, 0.8);
    color: azure;
    padding: 10px;
}

section > div {
    padding: 20px;
}

section > img {
    width: 300px;
}

@media  (width<600px) {
    
    header > div {
        padding: 100px 20px;
    }
}


