body {
    background-color: bisque;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > div {
    border: 3px solid white;
    padding: 100px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.75);
}

section {
    min-height: 300px;
    border: white solid 2px;
    border-radius: 15px;
    margin: 50px;
    overflow: hidden;
}

section > h2 {
    background-color: black;
    color: azure;
    padding: 10px;
}

section > div {
    padding: 20px;
}


